[submodule "fridge-magnet/components/esp32-HD44780"]
	path = fridge-magnet/components/esp32-HD44780
	url = git@github.com:bradkeifer/esp32-HD44780.git
[submodule "fridge-magnet/components/ESP32-audioI2S"]
	path = fridge-magnet/components/ESP32-audioI2S
	url = git@github.com:schreibfaul1/ESP32-audioI2S.git
[submodule "test-sd-audio-player/components/esp32-HD44780"]
	path = test-sd-audio-player/components/esp32-HD44780
	url = git@github.com:bradkeifer/esp32-HD44780.git
[submodule "mic-test-standalone/components/esp32-HD44780"]
	path = mic-test-standalone/components/esp32-HD44780
	url = git@github.com:bradkeifer/esp32-HD44780.git
[submodule "s3-bucket-upload-download-test/components/esp32-HD44780"]
	path = s3-bucket-upload-download-test/components/esp32-HD44780
	url = git@github.com:bradkeifer/esp32-HD44780.git
[submodule "pi-fridge-magnet/python_lcd"]
	path = pi-fridge-magnet/python_lcd
	url = git@github.com:dhylands/python_lcd.git
[submodule "esp32-fridge-magnet/fridge-magnet/components/esp32-HD44780"]
	path = esp32-fridge-magnet/fridge-magnet/components/esp32-HD44780
	url = git@github.com:bradkeifer/esp32-HD44780.git
